<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Write your message here...</h3>
  <form method = "POST" action = "/chat">
    <input placeholder = "Who are you" name = "from">
    <textarea name = "msg">Enter your message here...</textarea>
    <input name = "to" placeholder = "Receiver's name">
    <button>Submit</button>
  </form>
</body>
</html>