.body{
  margin: 0;
  padding: 0;
}

.chat{
  padding: 10px 5px;
  margin-top: 10px;
  background-color: rgb(127, 192, 192);
  display: inline-block;
}

.message{
  background-color: rgb(118, 102, 133);
  border-radius: 15px;
  padding: 15px;
}

.button-des{
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: whitesmoke;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}